<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">
var lastUpdate=new Date();
var horaepasatae;

//all of these city properties should go into the django model
var cityName = "New City";
var population=100000;
var queue = new Array();

function QueueItem(foodcost,fuelcost,mineralcost,productioncost,task,description) {
    this.cost = [foodcost,fuelcost,mineralcost,productioncost];
	this.prodleft = this.cost[3];
    this.task = task; //raw code executed after completion
    this.name = description; //whatever this thing is called
}

queue.push(new QueueItem(2000,1000,1000,1, 'window.alert("dummy function")', 'Dummy Function')); //dummy values
queue.push(new QueueItem(2000,1000,1000,1, 'window.alert("dummy function")', 'Dummy Function')); //dummy values
queue.push(new QueueItem(2000,1000,1000,1, 'window.alert("dummy function")', 'Dummy Function')); //dummy values
queue.push(new QueueItem(2000,1000,1000,1, 'window.alert("dummy function")', 'Dummy Function')); //dummy values
queue.push(new QueueItem(2000,1000,1000,1, 'window.alert("dummy function")', 'Dummy Function')); //dummy values


// it goes NW, N, NE, W, city's own, E, SW, W, SE
var blocks = [0, 0, 0, 1, 1, 1, 2, 2, 2]; //dummy values, normally we'd get from ajax
var blockTypes = ["Plains", "Hills", "Desert", "Water", "Mountain"];

//all dummy values to be filled in with ajax
var food=150000;
	var foodProduction = 100000*(2.5/100);
	//normally we would derive this from the blocks
var fuel=100000;
	var fuelProduction = 100000*(5/100);
var mineral=100000;
	var mineralProduction = 100000*(5/100);
	
var production = 1000;
	//normally we'd derive this from population, economy, buildings and tech

function changeHTML(id, changeTo){
document.getElementById(id).innerHTML = changeTo;
}

function update(){
    var iam = new Date();
    horaepasatae = (iam-lastUpdate)/21600000;

    food += foodProduction*horaepasatae;
    fuel += fuelProduction*horaepasatae;
    mineral += mineralProduction*horaepasatae;

    population += (Math.log((food+1)/population)*population)*horaepasatae;
    if (queue.length) {
	queue[0].prodleft -= production*horaepasatae;
		if (queue[0].prodleft < 0.01) {
			eval(queue[0].task);
			food -= queue[0].cost[0];
			fuel -= queue[0].cost[1];
			mineral -= queue[0].cost[2];
			queue.shift();
		}
}

writeStats();
lastUpdate = new Date();
}

function writeStats(){
    document.title = cityName + " | Gunship Diplomacy";
    
	changeHTML("name", cityName);
    changeHTML("cityblock", "<h3>" + cityName + "</h3>" + blockTypes[blocks[4]]);
    changeHTML("population", parseInt(population) + " working population");
    
    changeHTML("food", parseInt(food));
    changeHTML("fuel", parseInt(fuel));
    changeHTML("mineral", parseInt(mineral));

    var itemsdiv = document.getElementById("items");
    itemsdiv.innerHTML = "";
    for (item in queue) {
	queuediv = document.createElement("div");
	queuediv.innerHTML = queue[item].name + "&nbsp;&nbsp;&nbsp;" + Math.round((1-(queue[item].prodleft/queue[item].cost[3]))*100) + "%";
	if (item == 0)
	    queuediv.innerHTML += '<button onclick="queue.shift();update();">Cancel</button>';
	itemsdiv.appendChild(queuediv);
    }
}

function loaded() {
update();
changeHTML("NW", blockTypes[blocks[0]]);
changeHTML("N", blockTypes[blocks[1]]);
changeHTML("NE", blockTypes[blocks[2]]);
changeHTML("W", blockTypes[blocks[3]]);
changeHTML("cityblock", "<h3>" + cityName + "</h3>" + blockTypes[blocks[4]]);
changeHTML("E", blockTypes[blocks[5]]);
changeHTML("SW", blockTypes[blocks[6]]);
changeHTML("S", blockTypes[blocks[7]]);
changeHTML("SE", blockTypes[blocks[8]]);
}

window.setInterval(update, 1000);
</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>My City</title>
</head>

<body onload="loaded();">

<h1 id="name" onclick="update();"></h1>
Change city name: <input type="text" onblur="cityName=this.value; update();" />
<p id="population"></p>

Food <span id="food"></span>&nbsp;|&nbsp;Fuel <span id="fuel"></span>&nbsp;|&nbsp;Minerals <span id="mineral"></span>

<table width="30%" border="1">
<tr><td id="NW"></td><td id="N"></td><td id="NE"></td></tr>
<tr><td id="W"></td><td id="cityblock"></td><td id="E"></td></tr>
<tr><td id="SW"></td><td id="S"></td><td id="SE"></td></tr>
</table>

<h3>Task Queue</h3>
<div id="items"></div>
</body>
</html>