<!DOCTYPE html>
<html>
<head>
<style>
.mapblock {
    width:100px;
    float:left;
    height:100px;
    text-align:center;
}

#cityblock {
    border:solid 2px;
    height:96px;
    width:96px;
}

</style>
<script type="text/javascript">
var lastUpdate=new Date();
var horaepasatae;

//all of these city properties should go into the django model
var cityName = "New City";
var player = "King Medi";
var population=100000;
var queue = new Array();

function QueueItem(foodcost,fuelcost,mineralcost,productioncost,task,description) {
    this.cost = [foodcost,fuelcost,mineralcost,productioncost];
    this.prodleft = this.cost[3];
    this.task = task; //raw code executed after completion
    this.name = description; //whatever this thing is called
}

queue.push(new QueueItem(2000,1000,1000,1, 'changeHTML("test", new Date())', 'Dummy Function')); //dummy values
queue.push(new QueueItem(2000,1000,1000,1, 'changeHTML("test", new Date())', 'Dummy Function')); //dummy values
queue.push(new QueueItem(2000,1000,1000,1, 'changeHTML("test", new Date())', 'Dummy Function')); //dummy values
queue.push(new QueueItem(2000,1000,1000,1, 'changeHTML("test", new Date())', 'Dummy Function')); //dummy values
queue.push(new QueueItem(2000,1000,1000,1, 'changeHTML("test", new Date())', 'oh no it is blank')); //dummy values


function Block(type, improvement, level){
this.type=type;
this.improvement=improvement;
this.level=level;

return this.type;
}

// it goes NW, N, NE, W, city's own, E, SW, W, SE
var blocks = [new Block(0,0,5), new Block(0,4,5), new Block(1,1,5), new Block(1,5,5), new Block(2,2,5), new Block(2,6,5), new Block(3,3,5), new Block(4,2,5), new Block(4,5,5)]; //dummy values, normally we'd get from ajax
var blockTypes = ["Plains", "Hills", "Desert", "Water", "Mountain"];
var blockImprovements = ["Farm", "Mine", "Oil Well", "Fishery", "Quarry", "Coal Mine", "Pasture"];
var blockGraphics = ["http://kingbushido95.ki.funpic.de/ModernDS/graphic/map/gras1.png", "http://kingbushido95.ki.funpic.de/ModernDS/graphic/map/berg2.png", "http://i.imgur.com/CqMI5.png", "http://i.imgur.com/cWv4h.png", "http://i.imgur.com/cE9RQ.png"];

//all dummy values to be filled in with ajax
var food=200000;
    var foodProduction = 30;
	//production per workier; normally we would derive this from tech and such
var fuel=100000;
	var fuelProduction = 25;
var mineral=100000;
	var mineralProduction = 25;
	
var production = 1000;
	//normally we'd derive this from population, economy, buildings and tech

function changeHTML(id, changeTo){
document.getElementById(id).innerHTML = changeTo;
return document.getElementById(id);
}

function update(){
    var iam = new Date();
    horaepasatae = (iam-lastUpdate)/21600000;

	
	for (number in blocks) {
		switch (blocks[number].type){
			case 0: {
			food += horaepasatae*((foodProduction)*1.163118^(blocks[number].level - 1));
			break;
			}
			case 1: {
			mineral += horaepasatae*((mineralProduction)*1.163118^(blocks[number].level - 1));
			break;
			}
			case 2: {
			fuel += horaepasatae*((fuelProduction)*1.163118^(blocks[number].level - 1));
			break;
			}
			case 3: {
			food += 0.75*horaepasatae*((foodProduction)*1.163118^(blocks[number].level - 1));
			break;
			}
			case 4: {
			mineral += horaepasatae*((mineralProduction)*1.163118^(blocks[number].level - 1));
			break;
			}
			case 5: {
			fuel += 0.75*horaepasatae*((fuelProduction)*1.163118^(blocks[number].level - 1));
			break;
			}
			case 6: {
			food += horaepasatae*((foodProduction)*1.163118^(blocks[number].level - 1));
			break;
			}
		}
	}

	
    population += (Math.log((food+1)/population)*population)*horaepasatae;
    if (queue.length) {
	queue[0].prodleft -= production*horaepasatae;
		if (queue[0].prodleft < 0.01) {
			eval(queue[0].task);
			food -= queue[0].cost[0];
			fuel -= queue[0].cost[1];
			mineral -= queue[0].cost[2];
			queue.shift();
		}
}

writeStats();
lastUpdate = new Date();
}

function writeStats(){
    document.title = cityName + " | Gunship Diplomacy";
    
	changeHTML("name", cityName);
    changeHTML("cityblock", "<h3>" + cityName + "</h3>" + blockTypes[blocks[4]]);
    changeHTML("population", parseInt(population) + " working population");
    
    changeHTML("food", parseInt(food));
    changeHTML("fuel", parseInt(fuel));
    changeHTML("mineral", parseInt(mineral));

    var itemsdiv = document.getElementById("items");
    itemsdiv.innerHTML = "";
    for (item in queue) {
	queuediv = document.createElement("div");
	queuediv.innerHTML = queue[item].name + "&nbsp;&nbsp;&nbsp;" + Math.round((1-(queue[item].prodleft/queue[item].cost[3]))*100) + "%";
	if (item == 0)
	    queuediv.innerHTML += '<button onclick="queue.shift();update();">Cancel</button>';
	itemsdiv.appendChild(queuediv);
    }
}

function loaded() {
update();
changeHTML("NW", "<h4>" + blockTypes[blocks[0].type] + "</h4>" + blockImprovements[blocks[0].improvement]).style.backgroundImage="url(" + blockGraphics[blocks[0].type] + ")";
changeHTML("N", "<h4>" + blockTypes[blocks[1].type] + "</h4>" + blockImprovements[blocks[1].improvement]).style.backgroundImage="url(" + blockGraphics[blocks[1].type] + ")";
changeHTML("NE", "<h4>" + blockTypes[blocks[2].type] + "</h4>" + blockImprovements[blocks[2].improvement]).style.backgroundImage="url(" + blockGraphics[blocks[2].type] + ")";
changeHTML("W", "<h4>" + blockTypes[blocks[3].type] + "</h4>" + blockImprovements[blocks[3].improvement]).style.backgroundImage="url(" + blockGraphics[blocks[3].type] + ")";
changeHTML("cityblock", "<h3>" + cityName + "</h3>" + blockTypes[blocks[4].type] + "<br />" + blockImprovements[blocks[4].improvement]).style.backgroundImage = "url(" + blockGraphics[blocks[4].type] + ")";
changeHTML("E", "<h4>" + blockTypes[blocks[5].type] + "</h4>" + blockImprovements[blocks[5].improvement]).style.backgroundImage="url(" + blockGraphics[blocks[5].type] + ")";
changeHTML("SW", "<h4>" + blockTypes[blocks[6].type] + "</h4>" + blockImprovements[blocks[6].improvement]).style.backgroundImage="url(" + blockGraphics[blocks[6].type] + ")";
changeHTML("S", "<h4>" + blockTypes[blocks[7].type] + "</h4>" + blockImprovements[blocks[7].improvement]).style.backgroundImage="url(" + blockGraphics[blocks[7].type] + ")";
changeHTML("SE", "<h4>" + blockTypes[blocks[8].type] + "</h4>" + blockImprovements[blocks[8].improvement]).style.backgroundImage="url(" + blockGraphics[blocks[8].type] + ")";
}

window.setInterval(update, 1000);
</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>My City</title>
</head>

<body onload="loaded();">

<h1 id="name"></h1>
Change city name: <input type="text" onblur="cityName=this.value;" />
<div id="test"></div>
<p id="population"></p>

Food <span id="food"></span>&nbsp;|&nbsp;Fuel <span id="fuel"></span>&nbsp;|&nbsp;Minerals <span id="mineral"></span>

<div style="padding-top:10px;visibility:hidden;clear:left"></div>
<div class="mapblock" id="NW"></div>
<div class="mapblock" id="N"></div>
<div class="mapblock" id="NE"></div>
<div style="visibility:hidden;clear:left"></div>
<div class="mapblock" id="W"></div>
<div class="mapblock" id="cityblock"></div>
<div class="mapblock" id="E"></div>
<div style="visibility:hidden;clear:left"></div>
<div class="mapblock" id="SW"></div>
<div class="mapblock" id="S"></div>
<div class="mapblock" id="SE"></div>
<div style="padding-bottom:10px;visibility:hidden;clear:left"></div>

<h3>Task Queue</h3>
<div id="items"></div>
</body>
</html>